<h1>Todo</h1>

<table class='table'>
  <thead>
    <tr>
      <th>内容</th>
      <th>期限</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.content %></td>
        <td><%= todo.deadline %></td>
        <td><a href=' <%= "/todo/#{todo.id}" %> '>削除</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<h4>登録</h4>
<form action='/todos' method='post'>
  <%== csrf_tag %>
  <div class='form-group'>
    <input type='text' name='todo[content]' id='todo_content' required='true', placeholder='内容'>
    <input type='datetime-local' name='todo[deadline]' id='todo_deadline'>
  </div>

  <input type='submit' name='commit' value='作成', class='btn btn-primary'>
</form>
